{% extends "admin-layout" %}

{% block content %}
<div id="orbis" data-instance="Alcarin.Orbis.Orbis">
    <div class="row">
        <div class="span6">
            <div class="info-container">
                <h2 class="h2">
                    {{ _('Minimap') }}
                    <button class="map-info btn btn-inverse">
                        Info
                    </button>
                    <button href="#change-radius-modal" data-toggle="modal" class="btn btn-inverse">
                        Change radius
                    </button>
                </h2>
                <div class="info-popover" data-placement="bottom" data-title="Global map information" data-content="">
                </div>
            </div>
            <div class="minimap">
                <canvas data-instance="Alcarin.Orbis.MinimapRenderer" data-radius="{{ radius }}" width="500" height="500">
                    You browser don't support canvas, can not continue.
                </canvas>
            </div>
        </div>
        <div class="span6 gateways-list">
            <h2>{{ _('Gateways') }}</h2>
            {{ partial('/admin/orbis/gateways-list', {}) }}
            {{ partial('/admin/orbis/gateway-edit', {form: gateway_form}) }}
        </div>
    </div>

        {% embed "alcarin-modal" with {id: 'change-radius-modal' } %}
        {% block header %}Change world radius{% endblock %}
        {% block body %}
            <p>Be sure what you doing. You can only increase world radius - if you make a mistake you
            will be forced to contact alcarin developers team. Current radius is {{radius}}.</p>
            {{ bootstrap(radius_form, 'horizontal') }}
            <div class="radius-info-container">
            </div>
        {% endblock %}
    {% endembed %}
    </div>
</div>
{% endblock %}