{% extends "admin-layout" %}

{% block content %}
<div class="container" data-instance="Alcarin.Admin.TranslationsDefCenter">
    <div class="translation-options row">
        <div class="span3">
            <fieldset>
                <legend>
                    Phrase:
                    <button class="btn btn-inverse" data-target="#add-tag-modal" data-toggle="modal">Add new</button>
                </legend>
                <label target="choose-group">Group:
                    <select id="choose-group" class="choose-group chosen">
                        {% for group in groups %}
                        <option>{{ group }}</option>
                        {% endfor %}
                    </select>
                </label>
                <div class="phrase-search-container">
                    <select id="phrases-list" class="phrases-list chosen-always-visible">
                    </select>
                </div>

            </fieldset>
        </div>
        <div class="span9 translation-panel">
            <form method="post">
                <fieldset>
                    <legend>Translation definitions panel:</legend>
                    <div class="description">
                        <label>
                            {{ help('Here you should describe what concerns the translation, what is it meaning. Remember that others translators can not understand what do you mean without good description.', 'right') }}
                            Description:
                        </label>
                        <textarea name="descr" value="{item.description}">{item.description}</textarea>
                    </div>
                    <div class="content">
                        <label>
                            {{ help('Proposed wording in Polish.', 'right') }}
                            Original content(pl):
                        </label>
                        <textarea name="content" value="TODO<!-- {item.content} -->">TODO<!-- {item.content} --></textarea>
                    </div>
                    <div class="arguments">
                        <label>
                            {{ help('Describe the arguments which will be called this sentence.', 'right') }}
                            Arguments definitions:
                        </label>
                        <div class="row-fluid">
                            <div class="span4">
                                <select size="4" name="args" class="args">
                                    <option value="{item.val}">{item.name}</option>
                                </select>
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <a class="btn plus btn-inverse" href="#"><i class="icon-plus-sign icon-white"></i></a>
                                        <a class="btn minus btn-inverse" href="#"><i class="icon-minus-sign icon-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="span8 selected-arg">
                                <label>Description:</label>
                                <textarea name="arg-descr" class="arg-descr" value="{item.arg-description}">{item.arg-description}</textarea>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>
                                            Type:
                                            <select name="type" class="arg-type" value="{item.type}">
                                            {% for index, arg_type in args_types %}
                                                <option value="{{ index }}">{{ arg_type }}</option>
                                            {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button class="confirm btn pull-right btn-inverse">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {% embed "alcarin-modal" with {id: 'add-tag-modal' } %}
        {% block header %}Adding new tag{% endblock %}
        {% block body %}
            <form class="ajax-form">
                <label>Current group: <span class="current-group"></span></label>
                <div class="control-group">
                    <label class="control-label" for="new-tag-name">
                        New tag name (must be unique in group):
                    </label>
                    <input type="text" id="new-tag-name" value="tag-name">
                </div>
            </form>
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}