{% extends "admin-layout" %}

{% block content %}
<div>
    <ul class="tiles-list">
        {% for page, data in pages %}
        <li class="page-{{page}}">
            <a href="{{ data['href'] }}" title="{{ data['title'] }}" >
                <span>
                    {{ data['title'] }}
                    <i class="{{ data['icon'] }}"></i>
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block userbar_left %}
<li class="active">
    <a href="{{ url('admin/default') }}">
        Home
    </a>
</li>
{% endblock %}