{{ doctype() }}
<html lang="en">
    <head>
        <meta charset="utf-8">

        {% block title %}
        {{ headTitle('Alcarin') }}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{ headMeta() }}

        <!-- temporary turning off favicon requests -->
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        {{ headLink().prependBundle('common').prependBundle('external') | raw }}

        <!-- Scripts -->
        {{ headScript().prependFile(
            basePath( '/js/html5.js' ), 'text/javascript', { 'conditional': 'lt IE 9' }
        ).prependBundle('common').prependBundle('external') | raw }}
    </head>
    <body>
        <nav class="navbar navbar-static-top navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" href="/">Alcarin</a>
            <ul class="nav pull-left">
                {% block userbar_left %}{% endblock %}
            </ul>
            <ul class="nav pull-right">
                {% block userbar_right %}{% endblock %}
                {% if zfcUserIdentity() %}
                <li class="divider-vertical"></li>
                <li>
                    <a href="{{ url('zfcuser/logout') }}">Wyloguj się</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </nav>

        <div class="container">
            <div class="game-container">
                {% block content %}
                &nbsp;
                {% endblock %}
            </div>

            <footer>
                {% block footer %}
                <p>&copy; Not idea what I should write in footer for open-source projects.</p>
                {% endblock %}
            </footer>
        </div>
        {{ inlineScript() | raw }}
    </body>
</html>