{% extends "alcarin-layout" %}

{% block content %}
    <section id="game-events">
        <div class="events">
            <div class="events-container">
                <select id="active-select">
                    <option value="{item.value}">{item.name}</option>
                </select>
            </div>
        </div>
    </section>

    <div id="main-nav">
        <nav>
            <ul class="nav-bar">
                {% for class in ['home', 'glass', 'plane', 'eye-close', 'circle-arrow-up', 'calendar'] %}
                <li {% if class == href %} class="current" {% endif %}>
                    <a href="?href={{class}}" class="active-link" data-hash-href="{{class}}">
                        <i class="icon-{{class}}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <section id="game-pages">
        <div class="pages">
            <div class="pages-container">
                {% for class in ['home', 'glass', 'plane', 'eye-close', 'circle-arrow-up', 'calendar'] %}
                <div class="page-{{class}} {% if class != href %} hide{% endif %}">
                    {% for i in 0..118 %} {{class}}.. {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div style="clear: both"></div>

{% endblock %}