{% extends "alcarin-layout" %}

{% do headScript().appendBundle('player') %}


{% set root_app        = "game-panel" %}
{% set root_controller = "Alcarin.Game.App" %}

{% block leftcontent %}
    {% for class in ['home', 'glass', 'plane', 'eye-close', 'circle-arrow-up', 'calendar'] %}
    <div ng-view>
    </div>
    {% endfor %}
{% endblock %}

{% block middlecontent %}
    <div id="main-nav" ng-init="charid = '{{ charid }}'">
        <nav>
            <ul class="nav-bar">
                {% for class in ['list', 'glass', 'plane', 'eye-close', 'circle-arrow-up', 'calendar'] %}
                <li {% if class == href %} class="current" {% endif %}>
                    <a href="?href={{class}}" class="active-link" data-hash-href="{{class}}">
                        <i class="icon-{{class}}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block rightcontent %}
    {# do form.setAttribute('action', uri('orbis/default', {controller: 'gateways'}) ~ '/{item.id}') #}
    <div class="events-container" ng-controller="Alcarin.Game.GameEvents">
        <div class="talking">
            <!-- layout trick to nice, flexible panel -->

            {{ bootstrap().openTag(forms['talking']) | raw }}

            <div class="content" alc-spin="waiting || sending">
                {{ formElement(forms['talking'].get('content')) }}
            </div>
            <div class="submit">
                <input type="submit" class="btn" value="Mów" tabindex="2">
            </div>

            {{ bootstrap().closeTag() | raw }}
        </div>
        <div class="events-container" alc-spin="events == null">
            <div class="game-event" ng-repeat="event in events">
                <span class="time">{* event.time | EventTime *}</span><span class="content">{* event.text *}</span>
            </div>
        </div>
    </div>
{% endblock %}