{% extends "admin-layout" %}

{% block userbar_right %}
<li class="pull-right">
    <a href="{{ uri().up(2) }}">Up</a>
</li>
{% endblock %}

{% block content %}
<div id="orbis" ng-app="orbis">
    <div class="row" ng-controller="Alcarin.Orbis.App">
        <div class="span6">
            <div class="info-container">
                <div>
                <h2 class="h2">{{ _('Minimap') }}</h2>
                    <button class="map-info btn btn-inverse" alc-popover="{* mapinfo *}"
                        data-placement="bottom" title="Map info" data-html="true">
                        Info
                    </button>
                    <button data-target="#change-radius-modal" data-toggle="modal" class="btn btn-inverse">
                        Change radius
                    </button>
                </div>
                <div class="info-popover" data-placement="bottom" data-title="Global map information" data-content="">
                </div>
            </div>
            <div class="minimap">
                <canvas alc-minimap-renderer data-radius="{{radius}}" width="500" height="500">
                    You browser don't support canvas, can not continue.
                </canvas>
            </div>
        </div>
        <div class="span6 gateways-list" style="position: relative">
            <h2>{{ _('Gateways') }}</h2>
            <div ng-view class="dn-fade"></div>
        </div>
    </div>

    {% embed "alcarin-modal" with {id: 'change-radius-modal' } %}
        {% block header %}Change world radius{% endblock %}
        {% block body %}
            <p>You can only increase world radius - but this is very time-consuming and dangerous
            thing. You need contact alcarin developers team to do this. Current world radius is {{radius}}<b>u.</b> .</p>
        {% endblock %}
        {% block footer %}
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        {% endblock %}
    {% endembed %}
    </div>
</div>
{% endblock %}
